<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjfng1eO_iapOTs5WD27wHIj1nN6KPebQ</string>
	<key>GCM_SENDER_ID</key>
	<string>236908191532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anumealai.anuMealAi</string>
	<key>PROJECT_ID</key>
	<string>anumealai-app</string>
	<key>STORAGE_BUCKET</key>
	<string>anumealai-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236908191532:ios:298146ddcfe0a0eda85689</string>
</dict>
</plist>